@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
    background-color:#fff;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
}

body{
    padding-top: 200pt;
}
.container {
    padding: 25pt;
    position: fixed;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10pt;
    padding-bottom: 20pt;
    padding-left: 50pt;
    padding-right: 20pt;
    border-radius: 15pt;
    border-color:#d2d2d2;
    border-width: 5pt;
    width: 100%;
    box-shadow:0 1pt 0 #cfcfcf;
}

h2 {
    border:0 solid #fff;
    border-bottom-width:1pt;
    padding-bottom:10pt;
    text-align: center;
}

.form-control {
    border-radius: 10pt;
    font-size: 14pt;
}

.wrapper {
    text-align: center;
}

.divContainer
{
    vertical-align: middle;
    text-align: center; <!-- If you want horizontal center alignment -->
}
.divContainer > *
{
    vertical-align: middle;
}
